.placeholderCard {
  margin: auto;
  width: 6ch;
  height: 10ch;
  border-radius: 1rem;
  background-color: #ffb7c5;
  border: 5px solid #c8a2c8;
  color: black;
  position: absolute;
  /* transition: 1s ease-in-out; */
  transform-origin: center;

  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  z-index: 1000;
}

.top {
  top: 0;
  left: 0;
  right: 0;
  bottom: 100;
}

.right {
  top: 0;
  left: 100;
  right: 0;
  bottom: 0;
}
.left {
  top: 0;
  left: 0;
  right: 100;
  bottom: 0;
}

.bottom {
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
}

.center {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.noAnim {
}

.centerToLeft {
  animation-name: cTL;
}

@keyframes cTL {
  0% {
    /* rotate: z 90deg; */
  }
  100% {
    translate: -80% 0;
    /* rotate: z 90deg; */
  }
}

.bottomToCenter {
  animation-name: bTC;
}

@keyframes bTC {
  0% {
  }
  100% {
    translate: 0 -250%;
  }
}

.bottomToLeft {
  animation-name: bTL;
}

@keyframes bTL {
  0% {
  }
  100% {
    translate: -150% -150%;
  }
}

.bottomToRight {
  animation-name: bTR;
}

@keyframes bTR {
  0% {
  }
  100% {
    translate: 150% -150%;
  }
}

.bottomToTop {
  animation-name: bTT;
}

@keyframes bTT {
  0% {
  }
  100% {
    translate: 0% -350%;
  }
}

.leftToTop {
  animation-name: lTT;
}

@keyframes lTT {
  0% {
  }
  100% {
    translate: 150% -150%;
  }
}

.topToRight {
  animation-name: tTR;
}

@keyframes tTR {
  0% {
  }
  100% {
    translate: 150% 150%;
  }
}

.rightToBottom {
  animation-name: rTB;
}

@keyframes rTB {
  0% {
  }
  100% {
    translate: -150% 150%;
  }
}

.rightToTop {
  animation-name: rTT;
}

@keyframes rTT {
  0% {
  }
  100% {
    translate: -150% -150%;
  }
}

.topToLeft {
  animation-name: tTL;
}

@keyframes tTL {
  0% {
  }
  100% {
    translate: -150% 150%;
  }
}
.leftToBottom {
  animation-name: lTB;
}

@keyframes lTB {
  0% {
  }
  100% {
    translate: 150% 150%;
  }
}
