.info {
  padding: 10px;
}
.noteEmoji {
  margin: 10px 0;
  font-size: 30px;
}

.note {
  margin: 0 5px;
  font-size: 20px;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 5s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
