.deckCard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.theCard {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.frontImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #add8e6;
}

.frontImage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.backImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #ffb7c5;
}

.backImg {
  position: relative;
  margin: 10 auto;
  font-size: 10ch;
  top: 18%;
  left: -7%;
  width: 100%;
  height: 100%;
}

.deckCardAnim {
  animation-name: flipY;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes flipY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
