.deckCard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.theCard {
  width: 100%;
  height: 100%;

  border: 5px solid #c8a2c8;
  border-radius: 1rem;

  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.frontImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #add8e6;
  border-radius: 0.5rem;
}

.frontImage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.backImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #ffb7c5;
  border-radius: 0.7rem;
}

.backImg {
  position: relative;
  margin: 10 auto;
  font-size: 60px;
  top: 2px;
  left: -3px;
}

.drawCardAnim {
  animation-name: drawCard;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes drawCard {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  50% {
    transform: translateY(20vh) rotateY(180deg);
  }
  100% {
    transform: translateY(20vh) rotateY(180deg);
  }
}

/* @keyframes drawCard {
  0% {
    transform: translateY(0) rotateY(0deg);
  }
  45% {
    transform: translateY(20vh) rotateY(180deg);
  }
  100% {
    transform: translateY(55vh) rotateY(180deg);
  }
} */
