.discardCard {
  position: absolute;
  padding: 0 1rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: 500ms ease;
  width: 8ch;
  height: 16ch;
  top: 40%;
  left: 34%;
  background-color: #ADD8E6;
  border: 5px solid #C8A2C8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
}