.discardContainer {
  position: absolute;
  /* padding: 0 1rem; */
  border-radius: 1rem;
  /* overflow: hidden; */
  transition: 500ms ease;
  width: 7.5em;
  height: 10em;
  top: 10vh;
  left: 37%;
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  /* color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace; */
  opacity: 0;
}

.discardPile {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardNum {
  margin-top: 5px;
  font-weight: bolder;
}

.enterAnim {
  animation-name: enterAnim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes enterAnim {
  0% {
    opacity: 0;
    rotate: z 360deg;
  }
  100% {
    opacity: 1;
    translate: 0% -35%;
    rotate: z 0deg;
  }
}
