@use "../globals.scss";

.discardContentContainer {
  position: relative;
  border-radius: 1rem;
  transition: 500ms ease;
  height: 100%;
  width: 100%;

  background-color: #add8e6;
  border: 5px solid #c8a2c8;

  // this might be an issue later in the element below discardContentContainer
  // opacity: 0;
}

.discardPile {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardDiscardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.cardDiscardImage {
  padding-top: 2vh;
  font-size: 20px;
}

.cardName {
  margin-top: 1.5vh;
  line-height: 3vh;

  display: flex;
  flex-wrap: wrap;
}

.cardNum {
  margin-top: 5px;
  font-weight: bolder;
}

.enterAnim {
  animation-name: enterAnim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes enterAnim {
  0% {
    opacity: 0;
    rotate: z 360deg;
  }
  100% {
    opacity: 1;
    rotate: z 0deg;
  }
}

// @media screen and (min-height: globals.$large){
//   .discardContainer{
//     width: 16vw;
//     height: 12vh;
//     left: 20vw;
//     // border: 5px solid red;
//   }

//   @keyframes enterAnim {
//     0% {
//       opacity: 0;
//       rotate: z 360deg;
//     }

//     100% {
//       opacity: 1;
//       translate: 100% -45%;
//       rotate: z 0deg;
//     }
// }
// }

@media screen and (min-width: globals.$nestHubWidth) and (max-width: globals.$nestHubMaxWidth) and (min-height: globals.$nestHubHeight) and (max-height: globals.$nestHubMaxHeight) {
  .discardPile {
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
