@use "../globals.scss";

.discardContentContainer {
  // position: absolute;
  position: relative;
  /* padding: 0 1rem; */
  border-radius: 1rem;
  /* overflow: hidden; */
  transition: 500ms ease;
  width: 20vw;
  height: 28vw;

  // left: 38vw;

  // top: 50vh;

  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  // opacity: 0;
}

.discardPile {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardNum {
  margin-top: 5px;
  font-weight: bolder;
}

.enterAnim {
  animation-name: enterAnim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes enterAnim {
  0% {
    opacity: 0;
    rotate: z 360deg;
  }
  100% {
    opacity: 1;
    rotate: z 0deg;
  }
}

// @media screen and (min-height: globals.$large){
//   .discardContainer{
//     width: 16vw;
//     height: 12vh;
//     left: 20vw;
//     // border: 5px solid red;
//   }

//   @keyframes enterAnim {
//     0% {
//       opacity: 0;
//       rotate: z 360deg;
//     }

//     100% {
//       opacity: 1;
//       translate: 100% -45%;
//       rotate: z 0deg;
//     }
// }
// }
