.discardContainer {
  position: absolute;
  /* padding: 0 1rem; */
  border-radius: 1rem;
  /* overflow: hidden; */
  transition: 500ms ease;
  width: 7.5em;
  height: 10em;
  top: 50%;
  left: 37%;
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  /* color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace; */
}

.discardPile {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}

.cardNum {
  margin-top: 5px;
  font-weight: bolder;
}
