@use "../globals.scss";

.gameContainer {
  font-family: "Andale Mono", monospace;

  /* responsive later: */
  font-size: 12px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.currentGameDetail {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 2vw;
  background-color: #cbb2ff;
  /* border: 1px solid blue; */
  z-index: 900;
}

.turnContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameActionFieldContainer {
  position: relative;
  flex: 1;
}

.gameActionField {
  height: 100%;
  position: relative;
}

.deckContainer {
  position: relative;
  overflow: visible;
  /* border: 1px solid red; */
  height: 100%;

  display: flex;
  justify-content: center;
}

.deck {
  position: relative;
  /* at 375 and height: 667 height */
  top: -10vh;
  width: 20vw;
  height: 28vw;
}

.otherplayerLeftTop {
  position: fixed;
  /* top: 22.5%; */
  /* left: -30px; */
  top: 28vh;
  left: -5vw;
  /* transform: rotate(90deg); */
  rotate: z 90deg;
  /* rotate: 0 90deg; */
}

/* .otherplayerLeftMiddle {
  position: fixed;
  bottom: 50%;
  left: -30px;
  transform: rotate(90deg);
} */

.otherplayerLeftBottom {
  position: fixed;
  /* bottom: 25%; */
  /* left: -30px; */
  bottom: 27vh;
  left: -5vw;
  transform: rotate(90deg);
}

.otherplayerRightTop {
  position: fixed;
  /* top: 17.5%; */
  top: 27vh;
  /* right: -30px; */
  right: -5vw;
  transform: rotate(270deg);
}

/* .otherplayerRightMiddle {
  position: fixed;
  bottom: 54%;
  right: -30px;
  transform: rotate(270deg);
} */

.otherplayerRightBottom {
  position: fixed;
  /* bottom: 29%; */
  /* right: -30px; */

  bottom: 30vh;
  right: -5vw;
  transform: rotate(270deg);
}

.otherplayerName {
  position: relative;
}

@media screen and (min-width: 414px) {
  .otherplayerRightBottom {
    bottom: 27vh;
  }
}

.leftPlayer {
  /* top: 22.5%; */
  /* left: -30px; */
  /* position: relative; */
  top: 50%;
  left: 50%;
  translate: -80% 20%;
  /* left: -5vw; */
  /* transform: rotate(90deg); */
  rotate: z 90deg;
  position: absolute;
  /* rotate: 0 90deg; */
}

.topPlayer {
  /* position: fixed; */
  /* top: 22.5%; */
  /* left: -30px; */
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -80% -130%;
  /* left: -5vw; */
  /* transform: rotate(90deg); */
  rotate: z 180deg;
  z-index: 1;
  /* rotate: 0 90deg; */
}

.rightPlayer {
  position: absolute;
  /* top: 22.5%; */
  /* left: -30px; */
  /* position: relative; */
  top: 50%;
  left: 50%;
  translate: -20% -140%;
  /* left: -5vw; */
  /* transform: rotate(90deg); */
  rotate: z -90deg;
  /* rotate: 0 90deg; */
}

.currentPlayer {
  translate: 100% -20%;
}

@media screen and (min-height: globals.$m1){
  .topPlayer {
    // border: 5px solid black;
    translate: -90% -150%;
  }
}
@media screen and (min-height: globals.$m2){
  .topPlayer {
    translate: -50% -200%;
  }
  .leftPlayer{
    translate: -100% -50%;
  }
  .rightPlayer{
    translate: 0% -70%;
  }
}
@media screen and (min-height: globals.$m3){
  .topPlayer {
    translate: -50% -260%;
  }
  .leftPlayer{
    translate: -120% -50%;
  }
  .rightPlayer{
    translate: 20% -70%;
  }
  .currentPlayer {
    translate: -110% 20%;
  }
}

@media screen and (min-height: globals.$m4) {
  .topPlayer{
    // border: 5px solid orange;
    translate: -50% -270%;
  }
  .leftPlayer{
    // border: 5px solid orange;
    translate: -140% -50%;
  }
  .rightPlayer{
    translate: 40% -80%;
  }
}


@media screen and (min-height: globals.$m5) {
  .topPlayer{
    // border: 5px solid grey;
    translate: -50% -270%;
  }
  .leftPlayer{
    // border: 5px solid grey;
    translate: -120% -50%;
  }
  .rightPlayer{
    translate: 30% -80%;
  }
}

@media screen and (min-height: globals.$m6) {
  .topPlayer{
    // border: 5px solid green;
    translate: -50% -520%;
  }
  .leftPlayer{
    // border: 5px solid green;
    translate: -170% -50%;
  }
  .rightPlayer{
    translate: 70% -80%;
  }
}

@media screen and (min-height: globals.$large) {
  .topPlayer{
    // border: 5px solid red;
    translate: -50% -470%;
  }
  .leftPlayer{
    // border: 5px solid red;
    translate: -360% -50%;
  }
  .rightPlayer{
    translate: 280% -80%;
  }
}

@media screen and (min-width: globals.$m1) {
  .topPlayer{
    border: 5px solid red;
    translate: -50% -580%;
  }
  .leftPlayer{
    // border: 5px solid red;
    translate: -180% -50%;
  }
  .rightPlayer{
    translate: 80% -80%;
  }
  .currentPlayer {
    translate: -110% 40%;
  }

}