@use "../globals.scss";

.gameContainer {
  font-family: "Andale Mono", monospace;
  font-size: 12px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.currentGameDetail {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 2vh 5vw;
  background-color: #cbb2ff;

  z-index: 5;
}

.turnContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.gameActionFieldContainer {
  position: relative;
  flex: 1;
}

.gameActionField {
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.deckContainer {
  position: relative;
  overflow: visible;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.discardContainer {
  position: relative;
  overflow: visible;
  height: 50%;
  display: flex;
  justify-content: center;
}

.deck,
.discard {
  position: relative;
  width: 6rem;
  height: 8.5rem;

  font-size: 10px;
  line-height: 15px;
}

// .otherplayerLeftTop {
//   position: fixed;
//   top: 28vh;
//   left: -5vw;

//   rotate: z 90deg;

// }

/* .otherplayerLeftMiddle {
  position: fixed;
  bottom: 50%;
  left: -30px;
  transform: rotate(90deg);
} */

// .otherplayerLeftBottom {
//   position: fixed;
//   /* bottom: 25%; */
//   /* left: -30px; */
//   bottom: 27vh;
//   left: -5vw;
//   transform: rotate(90deg);
// }

// .otherplayerRightTop {
//   position: fixed;
//   /* top: 17.5%; */
//   top: 27vh;
//   /* right: -30px; */
//   right: -5vw;
//   transform: rotate(270deg);
// }

/* .otherplayerRightMiddle {
  position: fixed;
  bottom: 54%;
  right: -30px;
  transform: rotate(270deg);
} */

// .otherplayerRightBottom {
//   position: fixed;

//   bottom: 30vh;
//   right: -5vw;
//   transform: rotate(270deg);
// }

.otherPlayerDetails {
  position: relative;
  translate: 90% -60%;

  display: flex;
  align-items: center;
  gap: 10px;
}

.otherPlayerNameTop {
  position: relative;
  translate: 50% -200%;
  rotate: z 180deg;

  display: flex;
  align-items: center;
  gap: 10px;
}

.leftPlayer {
  top: 50%;
  left: 50%;
  // translate: -120% 0;
  translate: -150% 0;
  rotate: z 90deg;
  position: absolute;
}

.topPlayer {
  position: absolute;
  top: 45%;
  left: 50%;
  translate: -50% -360%;
  rotate: z 180deg;
}

.rightPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 50% -50%;
  rotate: z -90deg;
}

.currentPlayer {
  translate: 100% -20%;
}

// @media screen and (min-height: globals.$m1) {
//   .topPlayer {
//     // border: 5px solid black;
//     translate: -90% -150%;
//   }
// }
// @media screen and (min-height: globals.$m2) {
//   .topPlayer {
//     translate: -50% -200%;
//   }
//   .leftPlayer {
//     translate: -100% -50%;
//   }
//   .rightPlayer {
//     translate: 0% -70%;
//   }
// }
// @media screen and (min-height: globals.$m3) {
//   .topPlayer {
//     translate: -50% -260%;
//   }
//   .leftPlayer {
//     translate: -120% -50%;
//   }
//   .rightPlayer {
//     translate: 20% -70%;
//   }
//   .currentPlayer {
//     translate: -110% 20%;
//   }
// }

// @media screen and (min-height: globals.$m4) {
//   .topPlayer {
//     // border: 5px solid orange;
//     translate: -50% -270%;
//   }
//   .leftPlayer {
//     // border: 5px solid orange;
//     translate: -140% -50%;
//   }
//   .rightPlayer {
//     translate: 40% -80%;
//   }
// }

// @media screen and (min-height: globals.$m5) {
//   .topPlayer {
//     // border: 5px solid grey;
//     translate: -50% -270%;
//   }
//   .leftPlayer {
//     // border: 5px solid grey;
//     translate: -120% -50%;
//   }
//   .rightPlayer {
//     translate: 30% -80%;
//   }
// }

// @media screen and (min-height: globals.$m6) {
//   .topPlayer {
//     // border: 5px solid green;
//     translate: -50% -520%;
//   }
//   .leftPlayer {
//     // border: 5px solid green;
//     translate: -170% -50%;
//   }
//   .rightPlayer {
//     translate: 70% -80%;
//   }
// }

// @media screen and (min-height: globals.$large) {
//   .topPlayer {
//     // border: 5px solid red;
//     translate: -50% -470%;
//   }
//   .leftPlayer {
//     // border: 5px solid red;
//     translate: -360% -50%;
//   }
//   .rightPlayer {
//     translate: 280% -80%;
//   }
// }

// @media screen and (min-width: globals.$m1) {
//   .topPlayer {
//     // border: 5px solid red;
//     translate: -50% -580%;
//   }
//   .leftPlayer {
//     // border: 5px solid red;
//     translate: -180% -50%;
//   }
//   .rightPlayer {
//     translate: 80% -80%;
//   }
//   .currentPlayer {
//     translate: -110% 40%;
//   }
// }

// iPhone SE and Galaxy S8:
@media screen and (min-width: 360px) and (max-width: 376px) {
  .rightPlayer {
    top: 64%;
    left: 40%;
  }

  .leftPlayer {
    left: 60%;
  }

  .topPlayer {
    top: 40%;
  }

  .otherPlayerDetails {
    translate: 100% -60%;
  }

  .otherPlayerNameTop {
    translate: 20% -200%;
  }
}

// iPhone 12 Pro:
@media only screen and (min-width: globals.$m1) and (max-width: globals.$m2) {
  .gameContainer {
    font-size: 16px;
  }

  .deck,
  .discard {
    width: 7rem;
    height: 10rem;
    font-size: 12px;
  }

  .rightPlayer {
    top: 64%;
    left: 40%;
  }

  .leftPlayer {
    left: 60%;
  }

  .topPlayer {
    translate: -20% -360%;
    top: 37%;
  }

  .otherPlayerDetails {
    translate: 110% -60%;
  }
}

// XR, S20 Ultra and A51 / 71
@media only screen and (min-width: globals.$m2) and (max-width: globals.$m3) {
  .gameContainer {
    font-size: 16px;
  }

  .deck,
  .discard {
    width: 8rem;
    height: 12rem;
    font-size: 12px;
  }

  .rightPlayer {
    top: 64%;
    left: 40%;
  }

  .leftPlayer {
    left: 60%;
  }

  .topPlayer {
    top: 35%;
    translate: -20% -350%;
  }

  .otherPlayerDetails {
    translate: 120% -60%;
  }
}

// Surface Duo
@media only screen and (min-width: globals.$m6) and (max-width: globals.$m7) {
  .deck,
  .discard {
    font-size: 9px;
  }

  .deck,
  .discard {
    width: 7rem;
    height: 10rem;
    font-size: 12px;
  }

  .leftPlayer {
    translate: -120% -170%;
  }

  .rightPlayer {
    top: 64%;
    left: 35%;
  }

  .topPlayer {
    top: 40%;
    translate: -20% -340%;
  }

  .otherPlayerDetails {
    translate: 100% -60%;
  }

  .otherPlayerNameTop {
    translate: 30% -200%;
  }
}

// all tablets and Surface Pro
@media only screen and (min-width: globals.$large) and (max-width: globals.$xLarge) {
  .gameContainer {
    font-size: 24px;
  }

  .deck,
  .discard {
    width: 12rem;
    height: 18rem;
    font-size: 16px;
  }

  .leftPlayer {
    translate: -120% -350%;
  }

  .rightPlayer {
    top: 64%;
    left: 35%;
  }

  .topPlayer {
    top: 33%;
    translate: -10% -350%;
  }

  .otherPlayerDetails {
    translate: 120% -60%;
  }
}

// Nest Hub / Max:
@media only screen and (min-width: globals.$nestHubWidth) and (max-width: globals.$nestHubMaxWidth) and (min-height: globals.$nestHubHeight) and (max-height: globals.$nestHubMaxHeight) {
  .gameContainer {
    font-size: 8px;
  }

  .deck,
  .discard {
    width: 4rem;
    height: 6rem;

    font-size: 8px;
    line-height: 10px;
  }
}
