/* gameField */

.gameContainer {
  font-family: "Andale Mono", monospace;
  font-size: 10px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* border: 1px solid hotpink; */
}

.currentGameDetail {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 2vw;

  /* border: 2px solid red; */
}

.turnContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameActionFieldContainer {
  position: relative;
  flex: 1;
  /* border: 1px solid yellow; */
}

.gameActionField {
  height: 100%;
  position: relative;
}

/* deck */
.deckContainer {
  position: relative;
  top: 60%;
  left: 50%;

  overflow: visible;
}

/* .deck {
  position: absolute;
  top: -170px;
  left: -42px;
  border: 5px solid #c8a2c8;
  width: 12ch;
  height: 16ch;
  border-radius: 1rem;
} */
