/* gameField */

.gameContainer {
  font-family: "Andale Mono", monospace;
  font-size: 8px;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.currentGameDetail {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  padding: 2vw;
  
  border: 1px solid blue;
}

.turnContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameActionFieldContainer {
  position: relative;
  flex: 1;
}

.gameActionField {
  height: 100%;
  position: relative;
}

.deckContainer {
  position: relative;
  overflow: visible;
  border: 1px solid red;
  height: 100%;

  display: flex;
  justify-content: center;
}

.deck {
  position: relative;
  top: 10%;
  border: 5px solid #c8a2c8;
  width: 12ch;
  height: 16ch;
  border-radius: 1rem;
}

.otherplayerLeftTop {
  position: fixed;
  top: 22.5%;
  left: -30px;
  transform: rotate(90deg);
}

.otherplayerLeftMiddle {
  position: fixed;
  bottom: 50%;
  left: -30px;
  transform: rotate(90deg);
}

.otherplayerLeftBottom {
  position: fixed;
  bottom: 25%;
  left: -30px;
  transform: rotate(90deg);
}

.otherplayerRightTop {
  position: fixed;
  top: 17.5%;
  right: -30px;
  transform: rotate(270deg);
}

.otherplayerRightMiddle {
  position: fixed;
  bottom: 54%;
  right: -30px;
  transform: rotate(270deg);
}

.otherplayerRightBottom {
  position: fixed;
  bottom: 29%;
  right: -30px;
  transform: rotate(270deg);
}

.otherplayerName {
  position: relative;
}
