/* .infoCard {
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
} */

.infoList {
  /* border-bottom: 1px solid black; */
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}

.infoCardName {
  font-size: 17px;
}

.infoIDName {
  font-size: 14px;
}
