.container {
  position: relative;
} 

.names {
  position: absolute;
  bottom: 10px;
  Left: 30px;
  font-size: 15px;
  background-color: "#89CFF0";
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
}

.avatars {
  position: fixed;
  bottom: 5px;
  Right: 15px;
  font-size: 15px;
  background-color: "#89CFF0";
}