.flexCenterPlayerHand {
  display: flex;
  justify-content: center;
}

.expand {
  /* width: 18ch; */
  height: 20ch;
  scale: 1.8 2;
  transition: 500ms ease;
  position: relative;
}

.default {
  scale: 1 1;
  transition: 500ms ease;
}
