.playerCard {
  /* padding: 1rem 1.5rem 2rem 1.5rem; */

  padding: 0 2.5vw;

  border-radius: 1rem;
  overflow: hidden;
  transition: 500ms ease;
  /* width: 8ch;
  height: 16ch; */
  /* width: 20vw;
  height: 28vw; */
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  position: relative;
}

.playerCardContainer {
  transform-style: preserve-3d;
}

.cardDiscardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.cardDiscardImage {
  padding-top: 2vh;
  font-size: 20px;
}

.playerCardBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  rotate: y 180deg;
}

.backContent {
  padding: 0 1rem;
  border-radius: 1rem;
  /* box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  transition: 500ms ease;
  width: 8ch;
  height: 16ch;
  /* width: 20vw;
  height: 28vw; */
  background-color: #ffb7c5;
  border: 5px solid #c8a2c8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  position: relative;
}

.playerCardFront {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* rotate: y 180deg; */
}

.drawCardAnim {
  animation-name: drawCard;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes drawCard {
  0% {
    translate: -5vw -55vh;
    rotate: y 180deg;
  }
  30% {
    translatey: -20vh;
  }
  45% {
    translatey: -20vh;
  }
  100% {
    /* transform: translateY(0) rotateY(0deg) rotateX(0deg); */
    translate: 0 0;
    rotate: 0deg 0deg;
  }
}

.sideDrawAnim {
  animation-name: sideDraw;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes sideDraw {
  0% {
    translate: -25vw -25vh;
    rotate: y 180deg;
  }
  100% {
    /* transform: translateY(0) rotateY(0deg) rotateX(0deg); */
    translate: 0 0;
    rotate: 0deg 0deg;
  }
}
.passCardLeftAnim {
  animation-name: passCardLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes passCardLeft {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-140%, -140%);
  }
}

.expand {
  /* width: 18ch; */
  /* height: 20ch;  */
  /* scale: 1.4 1.5; */
  transition: 500ms ease;
  position: relative;
}

.default {
  scale: 1;
  transition: 500ms ease;
}

.cardName {
  margin-top: 1.5vh;
  line-height: 3vh;
}

.cardNum {
  margin-top: 2.5vh;
  margin-left: 2vw;
  float: left;
}

.cardImage {
  margin-top: 15px;
  font-size: 20px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 6px; */
}

.hideText {
  opacity: 0;
  translate: 0px 100px;
  transition: opacity 500ms linear;
}

.showText {
  margin-top: 3vh;
  opacity: 1;
  transition: opacity 500ms linear;
  /* font-size: 10px; */
  line-height: 3vh;
}

.playCardBtn {
  margin-top: 5px;
  cursor: pointer;
  float: right;
  scale: 2;
  translate: 0 5px;
}

@media screen and (min-width: 414px) {
  .playerCard {
    padding: 1vh 5vw;
  }
}
