@use "../globals.scss";

.playerCard {
  /* padding: 1rem 1.5rem 2rem 1.5rem; */

  padding: 0 2.5vw;

  border-radius: 1rem;
  overflow: hidden;
  transition: 500ms ease;
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  position: relative;
  z-index: 14;
}

.playerCardContainer {
  transform-style: preserve-3d;
}

// @media screen and (max-height: globals.$smallScreen) {
//   .playerCardContainer{
//     // scale: .5;
//   }
// }

.playerCardBack {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  rotate: y 180deg;
}

.backContent {
  position: relative;
  padding: 0 1rem;
  border-radius: 1rem;

  overflow: hidden;
  transition: 500ms ease;

  background-color: #ffb7c5;
  border: 5px solid #c8a2c8;
  color: black;
  // font-weight: bolder;
  // font-family: "Andale Mono", monospace;

  width: 4rem;
  height: 8rem;
}

.playerCardFront {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* rotate: y 180deg; */
}

.playerCardOpen {
  width: 16rem;
  height: 22rem;
}

.playerCardClosed {
  width: 4rem;
  height: 8rem;
}

.drawCardAnim {
  animation-name: drawCard;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes drawCard {
  0% {
    translate: -5vw -55vh;
    rotate: y 180deg;
  }
  30% {
    translatey: -20vh;
  }
  45% {
    translatey: -20vh;
  }
  100% {
    /* transform: translateY(0) rotateY(0deg) rotateX(0deg); */
    translate: 0 0;
    rotate: 0deg 0deg;
  }
}

.sideDrawAnim {
  animation-name: sideDraw;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes sideDraw {
  0% {
    translate: -25vw -25vh;
    rotate: y 180deg;
  }
  100% {
    /* transform: translateY(0) rotateY(0deg) rotateX(0deg); */
    translate: 0 0;
    rotate: 0deg 0deg;
  }
}
.passCardLeftAnim {
  animation-name: passCardLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes passCardLeft {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(-140%, -140%);
  }
}

.expand {
  /* width: 18ch; */
  /* height: 20ch;  */
  /* scale: 1.4 1.5; */
  transition: 500ms ease;
  position: relative;
}

.default {
  scale: 1;
  transition: 500ms ease;
}

.cardNum {
  margin-top: 2.5vh;
  margin-left: 2vw;
  float: left;
}

.cardImage {
  margin-top: 15px;
  font-size: 20px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 6px; */
}

.hideText {
  opacity: 0;
  translate: 0px 100px;
  transition: opacity 500ms linear;
}

.showText {
  margin-top: 3vh;
  opacity: 1;
  transition: opacity 500ms linear;
  /* font-size: 10px; */
  line-height: 3vh;
}

.playCardBtn {
  margin-top: 5px;
  width: 20vw;
  font-size: larger;
  cursor: pointer;
  float: right;
  scale: 2;
  translate: 0 15px;
}

// iPhone SE, Galaxy Fold
@media only screen and (max-width: globals.$m1) and (max-width: globals.$large) {
  .playerCardClosed,
  .backContent {
    width: 5.5rem;
    height: 10rem;
  }
  .playCardBtn{
    translate: 7vw 15px;
  }
}

// iPhone 12 Pro:
@media only screen and (min-width: globals.$m1) and (max-width: globals.$m2) {
  .playerCardClosed,
  .backContent {
    width: 5.5rem;
    height: 10rem;
  }
  .playCardBtn{
    translate: 8vw 15px;
    scale: 1.3;
  }
}

// XR, S20 Ultra and A51 / 71
@media only screen and (min-width: globals.$m2) and (max-width: globals.$m3) {
  .playerCardOpen {
    width: 18rem;
    height: 28rem;
  }

  .playerCardClosed,
  .backContent {
    width: 7rem;
    height: 12rem;
  }
  .playCardBtn{
    translate: 6vw 15px;
    scale: 1.5;
  }
}

// all tablets and Surface Pro
@media screen and (min-width: globals.$large) and (max-width: globals.$xLarge) {
  .playerCardOpen {
    width: 18rem;
    height: 28rem;
  }

  .playerCardClosed,
  .backContent {
    width: 8rem;
    height: 15rem;
  }

  .playerCardFront {
    font-size: 16px;
  }
  .playCardBtn{
    translate: 9vw 15px;
  }
}

// Nest Hub / Max:
// nest hub layouts aren't working for some reason
@media screen and (min-width: globals.$nestHubWidth) and (max-width: globals.$nestHubMaxWidth) and (min-height: globals.$nestHubHeight) and (max-height: globals.$nestHubMaxHeight) {
  .playerCardClosed,
  .backContent {
    width: 3rem;
    height: 5rem;
  }

  .playerCardOpen {
    width: 10rem;
    height: 5rem;
  }
}
