@use "../globals.scss";

.resolveActionFieldContainer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 1px solid blue;
  z-index: 1;
}

.resolveActionField {
  background-color: #c1e1c1;
  width: 100%;
  height: 100%;
}

.resolveGameActionField {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 14px;
  padding: 20px 10px;
}

.resolveText {
  /* opacity: 1; */
}

@media screen and (max-height: globals.$smallScreen) {
  .resolveText {
    opacity: 0;
  }
}

.doneBtnContainer {
  /* position: absolute; */
  /* bottom: 0; */

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.doneBtn {
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 60px;
}
