@use "../globals.scss";

.resolveActionFieldContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.resolveActionField {
  background-color: #c1e1c1;
  width: 100%;
  height: 100%;
}

.resolveGameActionField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 5vh 0;
}

// @media screen and (max-height: globals.$smallScreen) {
//   .resolveText {
//     opacity: 0;
//   }
//   .resolveActionFieldContainer{
//     scale: .8;
//   }
// }

.doneBtnContainer {
  /* position: absolute; */
  /* bottom: 0; */

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.doneBtn {
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 60px;
}

// iPhone SE and Galaxy S8:
@media screen and (min-width: 360px) and (max-width: 376px) {
  .resolveGameActionField {
    line-height: 20px;
    font-size: 12px;
    padding: 4rem 2rem;
  }
}

// iPhone 12 Pro:
@media only screen and (min-width: globals.$m1) and (max-width: globals.$m2) {
  .resolveGameActionField {
    font-size: 16px;
    line-height: 25px;
    padding: 4rem 2rem;
  }
}

// all tablets and Surface Pro
@media only screen and (min-width: globals.$large) and (max-width: globals.$xLarge) {
  .resolveGameActionField {
    font-size: 24px;
    line-height: 40px;
    padding: 4rem 2rem;
  }
}

// XR, S20 Ultra and A51 / 71
@media only screen and (min-width: globals.$m2) and (max-width: globals.$m3) {
  .resolveGameActionField {
    font-size: 16px;
    line-height: 40px;
    padding: 4rem 2rem;
  }
}
