@use "../../globals.scss";

.tradeSnackActionContainer {
  display: flex;
  flex-direction: column;
}

.instruction {
  font-size: 10px;
  padding: 1rem;
  line-height: 15px;
}

.playerSelection {
  display: flex;
  justify-content: center;
}

.playerSelectionContainer {
  margin-top: 30px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.selectionPlayerName {
  display: flex;
  align-items: center;
}

.playerSelectionDetails {
  display: flex;
  gap: 10px;
}

.doneBtn {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 40px;
}

.doneClick {
  font-size: 12px;
}

.cardActionPlayContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.tsCardContainer {
  display: flex;
}

.playerCard {
  padding: 0 1rem;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0 auto;
  transition: 500ms ease;
  width: 8ch;
  height: 16ch;
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  position: relative;
}

.selected {
  border: 5px solid yellow;
}

.cardNum {
  margin: 5px 0;
}

.cardImage {
  font-size: 20px;
  margin-top: 8px;
}

.avatar {
  position: relative;
  width: 20px;
  margin-right: 5px;
  top: -5px;
}

// iPhone 12 Pro:
@media only screen and (min-width: globals.$m1) and (max-width: globals.$m2) {
  .instruction,
  .selectionPlayerName,
  .doneClick {
    font-size: 16px;
  }

  .instruction {
    line-height: 20px;
  }

  .playerSelectionContainer {
    gap: 20px;
  }
}

// Surface Duo
@media only screen and (min-width: globals.$m6) and (max-width: globals.$m7) {
  .instruction,
  .selectionPlayerName,
  .doneClick {
    font-size: 16px;
  }

  .playerSelectionContainer {
    gap: 20px;
  }
}

// XR, S20 Ultra and A51 / 71
@media only screen and (min-width: globals.$m2) and (max-width: globals.$m3) {
  .instruction,
  .selectionPlayerName,
  .doneClick {
    font-size: 16px;
  }

  .instruction {
    line-height: 20px;
  }

  .playerSelectionContainer {
    gap: 20px;
  }
}

// iPhone SE and Galaxy S8:
@media screen and (min-width: 360px) and (max-width: 376px) {
  .instruction,
  .selectionPlayerName,
  .doneClick {
    font-size: 12px;
  }
}

// all tablets and Surface Pro
@media only screen and (min-width: globals.$large) and (max-width: globals.$xLarge) {
  .instruction {
    font-size: 24px;
    padding: 6rem 2rem;
    line-height: 40px;
  }
  .selectionPlayerName,
  .doneClick {
    font-size: 24px;
  }
  .doneBtn {
    font-size: 60px;
    bottom: 10%;
  }
}
