@use '../../globals.scss';

.tradeSnackActionContainer {
  font-size: 13px;
  line-height: 3vh;
  padding: 3vw 4vh;
}

.instruction {
  padding-top: 10px;
  z-index: 5;
}

.playerSelectionContainer {
  margin-top: 30px;
}

.playerSelectionContainer > .playerSelection {
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

.doneBtn {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 60px;
}

@media screen and (max-height: globals.$smallScreen) {
  .doneBtn {
    translate: 35vw 0vh;
  }
}

.playerCard {
  padding: 0 1rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  margin: "0 auto";
  transition: 500ms ease;
  width: 8ch;
  height: 16ch;
  background-color: #add8e6;
  border: 5px solid #c8a2c8;
  color: black;
  font-weight: bolder;
  font-family: "Andale Mono", monospace;
  position: relative;
}

.selected {
  border: 5px solid yellow;
}

.cardNum {
  margin: 5px 0;
}

.cardImage {
  font-size: 20px;
  margin-top: 8px;
}

.avatar {
  position: relative;
  width: 20px;
  top: 5px;
  margin-right: 5px;
}
