$smallScreen: 414px;

$m1: 384px;
// $mediumScreen: 420px;
$m2: 400px;

$m3: 420px;

$m4: 430px;

$m5: 440px;

$m6: 450px;

$large: 768px;

$xLarge: 1000px;

$nestHubWidth: 168px;
$nestHubHeight: 311px;

$nestHubMaxWidth: 227px;
$nestHubMaxHeight: 421px;
